*{
  box-sizing:border-box;
}
body{
  margin:0;
  font-family:Purple,Blue,green;
  color: blueviolet;
  
}

html{
  scroll-behavior: smooth;
}

body{
  margin:0;
  background-color: antiquewhite;
  color: black;
  font-family: 'Times New Roman', Times, serif;
}